.prod-div {
  background-color: #c2f3c227;
  position: relative;
}
.bttn {
  background-color: var(--bgc);
  color: white;
}
.bttn:hover,
.bttn:active {
  border: 3px solid var(--bgc);
  font-size: 1.3rem;
}
.ai-button {
  transition: transform 0.2s;
}
.ai-button:hover {
  transform: scale(1.07);
}
.ai-button img {
  width: 50px;
  height: 50px;
}

.ai-box {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.ai-content {
  width: 50vw;
  height: 75vh;
  position: absolute;
  background-color: white;
  padding: 3rem;
  border-radius: 20px;
}
